.topicos {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1em 1em;

}

.topicos__titulo{
    color: var(--branco);
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 300;
}




.topicos__lista-item {
    display: inline-block;
    background-color: var(--laranja);
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 10px;
}

.topicos-lista-link{
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 1024px){ 
    .topicos__titulo, .topicos__lista-item{
        font-size: 24px;
    }
}